<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonJsonInterface" version="2026.122.1008.12" targetFramework="net462" />
  <package id="EasyMediaPlayer" version="2026.208.1211.24" targetFramework="net462" />
  <package id="EasyObject" version="2026.211.44.32" targetFramework="net462" />
  <package id="JsoncParser" version="2026.122.1022.34" targetFramework="net462" />
  <package id="PlainObjectConverter" version="2026.211.12.55" targetFramework="net462" />
  <package id="PlainObjectInterface" version="2026.122.1836.32" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net462" />
  <package id="System.Memory" version="4.6.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="10.0.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
  <package id="WinConsole" version="2026.204.635.46" targetFramework="net462" />
</packages>